.about{
    padding-top: 4vh;
    height: 96vh;
    /* margin: 0 10rem; */
    box-sizing: border-box;
    min-height: fit-content;
    position: relative;
    margin-top: 8rem;
    display: flex;
}
.abt-pic-container{
    margin: 12px;
    height: 400px;
    width: 400px;
}
.abt-pic{
    height: 400px;
    width: 400px;
    object-fit: contain;
    border-radius: 20%;
}
.abt-description{
    font-size: 17px;
}
.details-abt-container{
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
@media screen and (max-width: 1400px){
    .about{
        height: fit-content;
        margin: 6% 0% 5% 5%;
        height: 80vh;
    }
    /* .abt-pic{
        width: 300px;
        height: 300px;
        margin: 0 auto 2rem;
    } */
}
@media screen and (max-width: 900px) {
    .about{
        flex-direction: column;
    }
    .abt-pic-container{
        /* margin-top: 8rem;
        margin-bottom: 0; */
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .about{
        margin-top: 5rem;
        height: 70vh;
        margin-bottom: 8rem;
    }
    .abt-pic-container{
        display: none;
    }
}