/* Removed unnecessary class names and adjusted existing styles */

.expertise-cards {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 5%; /* Inherit the padding from the previous component */
    text-align: center;
  }
  
  .expertise-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  
  .cards {
    padding: 2rem; /* Increased padding for larger cards */
    background: white;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 350px; /* Adjusted max-width for larger cards */
    flex: 1 1 350px; /* Added flex properties for responsiveness */
    margin: 20px 0;
  }
  
  .article-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem; /* Added margin top for spacing */
  }
  
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .article-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }
  .experience-sub-title {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem; /* Adjusted margin for better spacing */
  }
  
  .icon {
    height: 2rem;
  }
  
  .detailName {
    margin: 0;
    font-size: 1rem; /* Adjusted font size for readability */
  }
  
  .detailLevel {
    margin: 0;
    font-size: 0.875rem; /* Adjusted font size for readability */
    color: gray;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .expertise-container {
      flex-direction: column;
      align-items: center;
    }
    
    .cards {
      max-width: 100%; /* Adjusted max-width for smaller screens */
    }
  }
  