.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.logo {
    font-size: 2rem;
    background: linear-gradient(101deg, rgba(63,94,251,0.9798183922006303) 0%, rgba(252,70,107,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.logo:hover {
    cursor: default;
}
.nav-btn{
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    background: linear-gradient(101deg, rgba(63,94,251,0.9798183922006303) 0%, rgba(252,70,107,1) 100%);
    cursor: pointer;
    transition: 0.5s;
}
.nav-btn:hover{
    transform: scale(1.05);
}