.about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 4rem;
    gap: 2rem;
}
.abt-pic-container{
    margin: 12px;
    height: 400px;
    width: 400px;
}
.abt-pic{
    height: 400px;
    width: 400px;
    object-fit: contain;
    border-radius: 5rem;
}
.abt-description{
    font-size: 17px;
}
.details-abt-container{
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
@media (max-width: 768px){
    .about{
        flex-direction: column;
        align-items: center;
    }
    .abt-pic-container{
        margin: 0;
    }
    .abt-pic{
        height: 300px;
        width: 300px;
    }
}
@media (max-width: 425px){
    .about{
        margin-top: 1.5rem;
        padding: 0 0.5rem;
    }
    .abt-pic-container{
        display: none;
    }
    .details-abt-container .title{
        font-size: 1.9rem;
    }
    .details-abt-container .abt-description{
        font-size: 15px;
    }
}
